#formLoginRFFG{
    border: solid rgb(128, 128, 128) 1px;
    /* border-radius: 3%;*/
    width: 30%;
    text-align: center;
    line-height: 1;
    margin-left: 55%;
} 

#hazen{
    font-size: smaller;
}

#p2{
    padding: 10px;
    font-size: larger;
    /* font-weight: bold; */
}
.css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-firstButton, .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton{
    border-right-color: rgba(25, 118, 210, 0.5) !important;
    /* padding: 10px; */
}



.location {
    position: relative;
    top: 3rem;
    border: 2px #fff solid;
    width: 30vw;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: auto;
    border-radius: 20px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: #fff;
    direction: rtl;
}

.move {
    color: blue;
    cursor: pointer;
}
.MuiTextField-root{
right:auto;
}

