#formLoginRFFG{
    border: solid rgb(128, 128, 128) 1px;
    /* border-radius: 3%;*/
    width: 30%;
    text-align: center;
    line-height: 1;
    margin-left: 55%;
} 

#hazen{
    font-size: smaller;
}

#p2{
    padding: 10px;
    font-size: larger;
    /* font-weight: bold; */
}
.css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-firstButton, .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton{
    border-right-color: rgba(25, 118, 210, 0.5) !important;
    /* padding: 10px; */
}
