table {
    /* width: 80% !important; */
   /*  margin-left: 35% !important;
    border: black solid !important; */
}

#table {
    /* width: 20% !important; */
    /* margin-left: 10% !important; */
    /* border: black solid !important; */
}


/* #icon:hover{
    display: none;
   
}
#icon2:hover{ 
    display: block;
}

#icon2{
    display: none;
}
#icon{
    display: block;
} */
body{
    background-color: #f1f1f1;
}

#ftime{
margin-left: 20%;
}


* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    border: black 2px solid;
    background-color: #f1f1f1;
    /* padding: 10px; */
    flex: 70%;
}

.flex-item-right {
    border: black 2px solid;
    background-color:  #f1f1f1;
    /* padding: 10px; */
    text-align: center;
    flex: 30%;
    font-size: large;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    #ftime{
        margin-left: 34%;
    }
}


#cardFlex{
    display: flex;  
  flex-wrap: wrap;
  padding: 10px;
  background-color: #f1f1f1;
    /* font-size: 30px;
    text-align: center; */
}

#opinB{
    background-color: #f1f1f1;
    width: 150px;
    margin-left: 30px;
    color: black;
}


.ulOfPrivateM {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(36, 36, 52) ;
    margin-top: 2%;
  }
  
  .liOfPrivateM {
    /* float: right ; */
    margin-left: 30px;
    font-size: smaller;
  }
  
  .liOfPrivateM a {
    color: rgb(19, 19, 48);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  .liOfPrivateM :hover {
    border-radius: 2% ;
    background-color: rgb(236, 235, 242) ;
  }
  
  #out {
    margin-top: 10%;
    text-align: center;
    background-color: white;
    color: rgb(9, 4, 4);
    padding: 2%;
  }

  .container {
    position: relative;
    width: 100%; /* או גודל רצוי של התמונה */
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* שקיפות אפסית בהתחלה */
    transition: opacity 0.3s ease; /* אנימציה חלקה במעבר על התמונה */
    background-color: rgba(0, 0, 0, 0.7); /* צבע שחור שקוף כדי ליצור את האפקט */
  }
  
  .container:hover .overlay {
    opacity: 1; /* הצגת השכבה כשהעכבר על התמונה */
  }