.home{
    font-style: oblique;
    font-size: larger;
    text-align:center;
}
img{
    
    size: 100px;
    position: center;
    // opacity: 20%;
}
body{
    background-image:'BackG.jpg';
}
.iconLog{
    font-size: larger;
    text-align: right;
    position: right;
}
#person{
    color: blue;
}
#options{
    color:black;
}
