#flex{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin-left: 35vw;
}

#formLoginRCO{
    text-align: center;
}

#selectC{
    width: 27.5%;
    /* float: right !important; */
    border: none;
    border-bottom: 1px solid black !important;
    padding: 10px;
    font-size: medium;
}

#outlined-multiline-staticC{
    width:26vw !important;
    margin-left: 1vw;
}

#standard-basicC{
    width:6.3vw !important;
    padding: 10px;
    margin-right: 10px;
}

.text{
    margin-left: 20px;
    text-align: right;
    font-size: large;
}

.labelC{

    text-align: right;
}
#addRC{
    text-align: center;
    margin-left: 0 !important;
    width: 28vw;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    background-color: orange;
    /* background-color: rgb(27, 139, 77); */
}
#app{
    font-size: xx-large;
    font-weight: bold;
    color:rgb(147, 98, 6)

}

#alertC{
    visibility: hidden;
    width: 30vw;
    text-align: right;
    margin-left: 35vw;
    font-weight: bolder;
}