#formLoginRG{
    /* border: solid rgb(128, 128, 128) 1px; */
    /* border-radius: 3%;*/
    width: 20%;
    text-align: center;
    line-height: 1.5;
    margin-left: 40%;
} 

#hazen{
    font-size: medium;
    text-align: right;
}

#p2{
    padding: 10px;
}
.css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-firstButton, .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton{
    border-right-color: rgba(25, 118, 210, 0.5) !important;
    color: bl;
}
#h8{
    font-size: larger;
    text-align: right !important;

}
