#addMore,
#end {
    display: none;
}

.nav {
    background-color: white !important;
    position: fixed;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    position: fixed !important;
}

.css-1e4e1qc-MuiButtonBase-root-MuiButton-root:hover {
    border-radius: 0% !important;
    border-bottom: 2px solid blue !important;
    background-color: white !important;
}

.private-area {
    background-color: rgb(78, 26, 175) !important;
    padding: 6px !important;
    border-radius: 50px !important;
    color: white !important;
    width: 104px !important;
}

.divBox {
    width: 100%;
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    background-color: #0f39ad;
    color: white;
    direction: rtl;
    text-align: right;
    font-size: smaller;
}

#standard-basic{
    text-align: right;
    label: right !important;
}

/* 
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    text-align: right !important;
} */

#alert{
    visibility: hidden;
}

#formLoginRC{
    width: 50%;
    text-align: right;
    margin-left: 25%;
}
#formLoginRBike{
    /* width: 50%; */
    text-align: center;
    /* margin-left: 50%; */
    /* background-color:white; */
    border-radius: 5px;
}

#smallP{
    font-size: small;
    text-align: center;
}

body{
    text-align: center;
}


#addRB{
    text-align: center;
    margin-left: 0 !important;
    width: 223px !important;
    background-color: rgb(27, 139, 77);
}