body {
    /* display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; */

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}


.wrapper {
    flex: 1;

}

.footer {
    width: 100%;
    display: flex;
    justify-content: right;
    flex-shrink: 0;
    background-color: rgb(250, 188, 72);
    /* margin-top: 21.3vw; */
    margin-bottom: 0px;
}

#ul-footer,
#div-contect,
#whatever {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20%;
    line-height: 2.0;
    padding: 30px;
    border-bottom: none;
}

.li-footer {
    color: aliceblue;
    text-align: right;
    /* flex-wrap: nowrap; */
}

.li-footer a {
    color: rgb(19, 19, 48);
    text-align: center;
    padding: 0;
    text-decoration: none;
}

#div-nav {

    width: 17vw;
}