body {
    /* display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; */

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

.footer {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    display: flex;
    justify-content: right;
    flex-shrink: 0;
    background-color: #854545;
    /* margin-top: 21.3vw; */
    margin-bottom: 0px;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
    #ul-footer {
        margin-left: 57%;
    }
    #buttonRe{
        margin-left: 55%;

    }

}

.wrapper {
    flex: 1;

}

#ul-footer {
    margin-top: 1.5%;
    flex-direction: column;
    text-align: right;
    margin-right: 3%;
    line-height: 2.0;
    border-bottom: none;
    list-style-type: none;
}
#whatever{
   display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 20%; 
    line-height: 2.0;
    padding: 30px;
    border-bottom: none;
    list-style-type: none;
}
#div-contect
{
    display: flex;
    flex: 10%;
    flex-direction: column;
    text-align: right;
    line-height: 2.0;
    padding: 30px;
    border-bottom: none;
    list-style-type: none;
}

.li-footer {
    color: aliceblue;
    text-align: right;
    width: 250px;
}
#buttonRe{

    background-color: white;
    color:#602424;
    border: solid #602424;
    width: 250px;
    margin-right: -19%;
    
}
.li-footer:hover {
    color: black;
    background-color: antiquewhite;
    text-align: right;
}

.li-footer a {
    color: rgb(19, 19, 48);
    text-align: center;
    padding: 0;
    text-decoration: none;
}

#div-nav {
    width: 17vw;
}